{% extends 'base.html.twig' %}

{% block title %}AboutMe index{% endblock %}

{% block body %}
    <h1>AboutMe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about_me in about_mes %}
            <tr>
                <td>{{ about_me.id }}</td>
                <td>{{ about_me.title }}</td>
                <td>{{ about_me.content }}</td>
                <td>
                    <a href="{{ path('about_me_show', {'id': about_me.id}) }}">show</a>
                    <a href="{{ path('about_me_edit', {'id': about_me.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('about_me_new') }}">Create new</a>
{% endblock %}
