{% extends 'layout.html.twig' %}

{% block title %}Panier!{% endblock %}

{% block main %}



    {% if panier | length == 0 %}
        <h2>Le panier est vide</h2>
    {% else %}
    <div class="d-flex block-site">
        <div class="formulaire align-self-center">
            <h1 class="text-center mb-5">Votre panier</h1>
            <table class="table table-bordered border-bleu">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in panier %}
                        <tr>
                            <td>{{ item.product.title }}</td>
                            <td>{{ item.product.price }}€</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.quantity * item.product.price }}€</td>
                            <td class="text-center">
                                <a href="{{ path('panier_removeOne', {'id': item.product.id}) }}" class="btn btn-bleu">-</a>
                                <a href="{{ path('panier_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <a href="{{ path('panier_addOne', {'id': item.product.id}) }}" class="btn btn-bleu">+</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-end">Total :</td>
                        <td>{{ total }}€</td>
                    </tr>
                </tfoot>
            </table>
            <div class="d-flex justify-content-between">
                <a href="{{ path('panier_save') }}" class="btn btn-bleu">Enregistrer le panier</a>
                <a href="#" class="btn btn-bleu">Commander</a>
            </div>
        </div>
        {{dump(paniers)}}
    </div>
    {% endif %}


{% endblock %}
