

{{ form_start(form) }}
<div class="row mt-4">
    <div class="col-6">
        <div class="my-4">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {% if form_errors(form.title) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.title) }}
                </div>
            {% endif %}
        </div>
        <div class="my-4">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {% if form_errors(form.description) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.description) }}
                </div>
            {% endif %}
        </div>
        <div class="my-4">

            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            {% if form_errors(form.price) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.price) }}
                </div>
            {% endif %}
        </div>
        <div class="my-4 images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for image in form.images %}
                <div class="embed border rounded p-1">
                    {{form_label(image.file)}}
                    {{form_widget(image.file)}}
                </div>
                {% if form_errors(image.file) %}
                <div class="alert alert-danger">
                    {{ form_errors(image.file) }}
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <button type="button" class="add_item_link btn btn-bleu" data-collection-holder-class="images">Ajouter une image</button>
    </div>
    <div class="col-6">
        <div class="my-2">
            {{ form_label(form.type) }}
            {% for type in form.type.children  %}
                <div class="form-check">{{ form_row( type ) }}</div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-center my-4">
    <button class="btn btn-bleu w-25">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}

