{{ form_start(form) }}
<div class="w-75 float-end">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {% if form_errors(form.name) %}
        <div class="alert alert-danger">
            {{ form_errors(form.name) }}
        </div>
    {% endif %}
</div>
<div class="w-75 float-end">
    {{ form_label(form.street) }}
    {{ form_widget(form.street) }}
    {% if form_errors(form.street) %}
        <div class="alert alert-danger">
            {{ form_errors(form.street) }}
        </div>
    {% endif %}
</div>
<div class="w-75 float-end">
    {{ form_label(form.postal) }}
    {{ form_widget(form.postal) }}
    {% if form_errors(form.postal) %}
        <div class="alert alert-danger">
            {{ form_errors(form.postal) }}
        </div>
    {% endif %}
</div>
<div class="w-75 float-end">
    {{ form_label(form.city) }}
    {{ form_widget(form.city) }}
    {% if form_errors(form.city) %}
        <div class="alert alert-danger">
            {{ form_errors(form.city) }}
        </div>
    {% endif %}
</div>
<div class="w-75 float-end">
    {{ form_label(form.country) }}
    {{ form_widget(form.country) }}
    {% if form_errors(form.country) %}
        <div class="alert alert-danger">
            {{ form_errors(form.country) }}
        </div>
    {% endif %}
</div>
    <button class="btn btn-bleu">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
