{{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {% if form_errors(form.name) %}
        <div class="alert alert-danger">
            {{ form_errors(form.name) }}
        </div>
    {% endif %}


    {{ form_label(form.street) }}
    {{ form_widget(form.street) }}
    {% if form_errors(form.street) %}
        <div class="alert alert-danger">
            {{ form_errors(form.street) }}
        </div>
    {% endif %}

    {{ form_label(form.postal) }}
    {{ form_widget(form.postal) }}
    {% if form_errors(form.postal) %}
        <div class="alert alert-danger">
            {{ form_errors(form.postal) }}
        </div>
    {% endif %}


    {{ form_label(form.city) }}
    {{ form_widget(form.city) }}
    {% if form_errors(form.city) %}
        <div class="alert alert-danger">
            {{ form_errors(form.city) }}
        </div>
    {% endif %}


    {{ form_label(form.country) }}
    {{ form_widget(form.country) }}
    {% if form_errors(form.country) %}
        <div class="alert alert-danger">
            {{ form_errors(form.country) }}
        </div>
    {% endif %}
<div class="d-flex justify-content-center mt-3">

    <button class="btn btn-bleu w-25">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
