{{ form_start(form) }}
    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {% if form_errors(form.name) %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.name) }}
                    </div>
                {% endif %}
    </div>
    <button class="btn btn-bleu">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
