{% extends 'layout.html.twig' %}


{% block main %}

    <div class="container-fluid my-3">
        <div class="container">
            <h2 class="text-center">Les nouveautés</h2>
            <div id="carouselNewProduct" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    {% set i =0 %}
                    {% for i in 0..4  %}
                        {% if i==0 %}
                            <li data-bs-target="#carouselNewProduct" data-bs-slide-to="{{ i }}" class="active"></li>
                        {% else %}
                            <li data-bs-target="#carouselNewProduct" data-bs-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% set i = 0 %}
                    {% for product in products %}


                        {% if i == 0 %}
                            {% set active = 'active' %}
                        {% else %}
                            {% set active ='' %}
                        {% endif %}
                        <div class="carousel-item {{ active }}">
                            <img src="{{ asset('images/products/'~product.imageName) }}" class="d-block height-carousel m-auto" alt="{{ product.title }}">
                        </div>
                        {% set i = i+1 %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselNewProduct" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselNewProduct" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}