{% extends 'layout.html.twig' %}

{% block title %}{{product.title}}{% endblock %}
{% block  javascripts %}
    <script src="{{asset('js/mosaique.js')}}"></script>
{% endblock %}

{% block main %}
<div class="formulaire">
    <h1 class="text-center my-4">{{product.title | capitalize}}</h1>

    <div class=" d-flex m-auto justify-content-center">
        <img class="img-fluid" src="{{asset('images/products/'~ product.images[0]) | imagine_filter('product')  }}" alt="{{product.title}}" id="selected-image">
    </div>
    
    <div class="d-flex justify-content-center my-3" id="mosaique">
        {% for image in product.images %}
            <div class="col-1 mx-1">
                <img class="img-fluid" src="{{asset('images/products/'~ image.name) | imagine_filter('product') }}" alt="image.name">
            </div>
        {% endfor %}
    </div>
    <div class="w-75 m-auto">
        {{product.description | capitalize}}
    </div>
    <div class="text-center my-4">
        Prix : {{product.price}}€
    </div>
    <div class="d-flex justify-content-center my-2">
        <a href="{{ path('panier_add', {'id': product.id}) }}" class="btn btn-bleu">Ajouter au panier</a>
    </div>
</div>
{% endblock %}
