{% extends 'layout.html.twig' %}

{% block title %}{% if type|length > 0 %}{{ type.type.name }}{% endif%} | DeFilsEnTetines{% endblock %}

{% block main %}

    {% for key, messages in app.flashes %}
        <div role="alert" class="alert alert-{{ key }} my-2">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    

    {% if  products|length == 0 and type|length == 0 %}
        <h2 class="text-center">Cette rubrique est vide pour le moment</h2>
    {% else %}
        <h2 class="text-center">Les {{ type.type.name }}</h2>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for product in products %}
                    <div class="card mx-xl-5 mx-3 my-4 col-xxl-2 col-xl-4 col-lg-5 col-md-9   bg-bleu px-0 text-white" >
                        <img src="{{ asset('images/products/'~product.image.name) }}" class="card-img-top" alt="{{ product.title }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ product.title|capitalize }}</h5>
                            <p class="card-text">{{ product.description|u.truncate(170, '...', false) }}</p>
                            <p class="card-text">Prix : {{ product.price }}€</p>
                            <a href="{{ path('panier_add', {'id': product.id}) }}" class="btn btn-rose">Ajouter au panier</a>
                            <a href="{{ path('front_produit', {'id': product.id, 'slug' : type.type.slug}) }}" class="btn btn-rose my-3">Consulter l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
