{% extends "layout.html.twig" %}
{% block menu %}{% endblock %}
{% block menu2 %}
<nav class="navbar navbar-expand-lg navbar-light d-flex bg-rose" id="nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
                <li class="nav-item">
                    <a class="nav-link"  href="{{path('admin_index')}}">ACCUEIL</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    PRODUITS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('products_index')}}">Produits</a></li>
                        <li><a class="dropdown-item" href="{{path('type_index')}}">Types</a></li>
                        <li><a class="dropdown-item" href="{{path('category_index')}}">Categories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    MESSAGES D'ACCUEIL
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('aboutMe_edit', {id : 1})}}">A propos</a></li>
                        <li><a class="dropdown-item" href="{{path('front_message_edit', {id : 1})}}">Présentation</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    COMMANDES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('commande_en_cours')}}">Commandes en cours</a></li>
                        <li><a class="dropdown-item" href="{{path('commande_sended')}}">Commandes envoyées</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{{path('user_index')}}">UTILISATEURS</a>
                </li>

              
        </div>
    </div>
</nav>
{% endblock %}
