{% extends 'base.html.twig' %}
{% block body %}
    <div class="{% if app.request.pathInfo == '/admin/products/' %}backmain{% else %}frontmain{% endif %} container-fluid">
        <header>

            <div class="row justify-content-between bg-bleu" id="header-top">
                <div class="col-1 align-self-center"><a href="{{ path('front') }}"><img class="img-fluid" src="{{ asset('images/logo.png') }}" alt="logo de fils en tétines"></a></div>
                <div class="col-6 d-flex justify-content-center text-white h1 align-self-center px-0">DeFilsEnTétines</div>
                <div class="col-1 align-self-center">
                    <a class="nav-link dropdown-toggle align-self-center" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img
                                class="img-fluid " src="{{ asset('images/compte.png') }}" alt="logo connexion"></a>
                    <ul class="dropdown-menu">

                        {% if not app.user %}
                            <li><a class="dropdown-item" href="{{ path('user_new') }}">Inscription</a></li>
                            <li><a class="dropdown-item" href="{{ path("app_login")}}">Connexion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('user_edit', {"id": app.user.id  }) }}">Gerer mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path("app_logout")}}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <nav class=" navbar navbar-expand-lg navbar-light row bg-rose">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BÉBÉ EST PROPRE</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "sac-a-langer"}) }}">Sac à Langer</a></li>
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "pochette-a-couche"}) }}">Pochette à couche</a></li>
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "tapis-a-langer"}) }}">Tapis à langer</a></li>
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "lingettes-lavable"}) }}">Lingettes lavable</a></li>
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "bavoirs"}) }}">Bavoirs</a></li>
                                    <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "cape-de-bain"}) }}">Cape de bain/gant</a></li>

                                </ul>
                            </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BÉBÉ DORT</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "gigoteuse"}) }}">Gigoteuse</a></li>
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "accroche-tetine"}) }}">Accroche tétine</a></li>
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "coussin-musical"}) }}">Coussin musicale</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BÉBÉ S'EVEILLE</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "classeur-de-coloriage"}) }}">Classeur de coloriage</a></li>
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "trousse"}) }}">Trousse</a></li>
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": "porte-monnaie"}) }}">Porte monnaie</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('front_produits', {"slug": "paniers-naissance"}) }}">PANIERS NAISSANCE</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('products_index') }}">ADMIN</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>


        </header>
        <div class="container-fluid my-3 block-site">
            {% block main %}{% endblock %}
        </div>
        <footer class="row bg-bleu">
            <div class="row flex-wrap text-rose">
                <div class="col-md-1 col-none"><img class="img-fluid" id="img-footer" src="{{ asset('images/logo.png') }}" alt="logo defilsentétines"></div>
                <div class="col-3 d-flex" >
                    <div class="justify-content-center">
                        <p>Bébé est propre : </p>
                        <ul class="list-unstyled">
                            <li><a href="{{ path('front_produits', {"slug": "sac-a-langer"}) }}"> Sac à langer</a></li>
                            <li><a href="{{ path('front_produits', {"slug": "pochette-a-couche"}) }}"> Pochette à couche</a></li>
                            <li><a href="{{ path('front_produits', {"slug": "tapis-a-langer"}) }}"> Tapis à langer</a></li>
                            <li><a href="{{ path('front_produits', {"slug": "lingettes-lavable"}) }}"> Lingettes lavable</a></li>
                            <li><a href="{{ path('front_produits', {"slug": "bavoirs"}) }}"> Bavoirs</a></li>
                            <li><a href="{{ path('front_produits', {"slug": "cape-de-bain"}) }}"> Cape de bain/gant</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <p>Bébé dort : </p>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('front_produits', {"slug": "gigoteuse"}) }}"> Gigoteuse</a></li>
                        <li><a href="{{ path('front_produits', {"slug": "accroche-tetine"}) }}"> Accroche tétine</a></li>
                        <li><a href="{{ path('front_produits', {"slug": "coussin-musical"}) }}"> Coussin musicale</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <p class="">Bébé s'éveille : </p>
                    <ul class="list-unstyled">
                        <li><a href="{{ path('front_produits', {"slug": "classeur-de-coloriage"}) }}"> Classeur de coloriage</a></li>
                        <li><a href="{{ path('front_produits', {"slug": "trousse"}) }}"> Trousse</a></li>
                        <li><a href="{{ path('front_produits', {"slug": "porte-monnaie"}) }}"> Porte monnaie</a></li>
                    </ul>
                </div>
                <div class="col-2 align-self-end">
                    <p>&copy; DeFilsEnTétines - 2021</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}