    <nav class="navbar navbar-expand-lg navbar-light d-flex bg-rose" id="nav">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
                    {% for categorie, types in categories %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ categorie | upper }}</a>
                        <hr class="on-phone">
                        <ul class="dropdown-menu">
                            {% for type in types %}
                                <li><a class="dropdown-item" href="{{ path('front_produits', {"slug": type.slug}) }}">{{ type.name }}</a></li>
                                <hr class="on-phone">
                            {% endfor %}

                        </ul>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('front_produits', {"slug": "paniers-naissance"}) }}">PANIERS NAISSANCE</a>
                    </li>
                    <hr class="on-phone">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('products_index') }}">ADMIN</a>
                        </li>
                        <hr class="on-phone">
                    {% endif %}
                    
                    <li class="nav-item dropdown on-phone">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">MON COMPTE</a>
                        <ul class="dropdown-menu">
        
                            {% if not app.user %}
                                <li><a class="dropdown-item" href="{{ path('user_new') }}">Inscription</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_login")}}">Connexion</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ path('user_edit', {"id": app.user.id  }) }}">Gérer mon compte</a></li>
                                <li><a class="dropdown-item" href="{{ path("app_logout")}}">Déconnexion</a></li>
                            {% endif %}
                                <li><a class="dropdown-item" href="{{ path('panier_index') }}">Mon panier</a></li>
                        </ul>
                        
                </ul>
                <div class="float-end nav-item dropdown align-self-center not-phone" id="user">
                    
                    <a class="nav-link align-self-center"  href="{{ path('panier_index') }}" ><i class="fas fa-shopping-cart"></i></a>
                    
                    <a class="nav-link dropdown-toggle align-self-center" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
                    <ul class="dropdown-menu">
        
                        {% if not app.user %}
                            <li><a class="dropdown-item" href="{{ path('user_new') }}">Inscription</a></li>
                            <li><a class="dropdown-item" href="{{ path("app_login")}}">Connexion</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('user_edit', {"id": app.user.id  }) }}">Gérer mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path("app_logout")}}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                    


                </div>
            </div>
        </div>
    </nav>