{% extends 'layout.html.twig' %}

{% block title %}Gérer mon compte{% endblock %}

{% block main %}
    

    <div class="formulaire">
        <h1>Gérer mon compte</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        <h2>Gérer mes adresses</h2>
        <div class="d-flex flex-wrap justify-content-around">
            {% if adresses|length == 0 %}
            <a class="btn btn-bleu" href="{{ path('adress_new') }}">Ajouter une adresse</a>
            {% endif %}
            {% for adress in adresses %}
            
                <a href="{{ path('adress_edit', {'id': adress.id}) }}" class="adress">
                    <span class="text-center">{{adress.name|capitalize}}</span><br>
                    <span>{{adress.street|u.truncate(30, '...', false)}}</span><br>
                    <span>{{adress.postal}}</span><br>
                    <span>{{adress.city|capitalize|u.truncate(30, '...', false)}}</span><br>
                    <span>{{adress.country|capitalize}}</span><br>
                </a>
            
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
